/* styles.css */

/* Tema Escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.dark-mode .navbar, .dark-mode .footer {
    background-color: #1f1f1f;
}
.dark-mode .nav-link {
    color: #ffffff !important;
}
.dark-mode .form-control {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}
.dark-mode .form-control:focus {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #777777;
}
.dark-mode .btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
}
.dark-mode .btn-primary:hover {
    background-color: #3700b3;
    border-color: #3700b3;
}
.dark-mode .btn-outline-primary {
    color: #ffffff;
    border-color: #6200ea;
}
.dark-mode .btn-outline-primary:hover {
    color: #6200ea;
    background-color: #1f1f1f;
}
.dark-mode .social-icon {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}
.dark-mode .social-icon:hover {
    color: #6200ea;
}
.dark-mode .required::after {
    content: '*';
    color: #ff0000;
    margin-left: 5px;
}
.dark-mode .hidden {
    display: none;
}

.help-icon {
    color: white; /* Define a cor do ícone como branco */
    margin-left: 5px; /* Adiciona um espaço entre o texto e o ícone */
}

.help-icon:hover {
    color: #ddd; /* Altera a cor do ícone quando o mouse está sobre ele */
}
